@import "tailwindcss";

@theme {

  --color-primary: #28b886;
  --color-secondary: #000000;
   --color-background: #FFFFFF; /* General page background */
  --color-light: #28b886;      /* Light elements, buttons, highlights */
  --color-dark: #000000;
  --color-accent:#FFFFFF;
}